nav{
  font-family: 'Merriweather', sans-serif;
}

.nav-container{
  background-color: rgba(50, 50, 70, 0.8);
  margin-top: -8px;
}

@media (min-width: 540px) {
  .navbar .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav li{
    display: inline-block;
    float: none
  }
}

.jumbotron {
  background: url("../img/diamond1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

.about-img{
background: url("../img/diamond2.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;	
}

@media only screen and (max-width: 540px) {
  .jumbotron {
  	background: none;
    min-height: 100vh;
  }
  #section-description{
  	background: none;
  }
}

section {
  padding-top: 4rem;
}

#section-newsletter {
  padding-top: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
}

.about-text{
  font-family: 'Merriweather', sans-serif;
  color: #bf953f;
  text-shadow: 0 2px 1px #663300;
}

.about-p, #section-description p{
  font-family: 'Merriweather', sans-serif;
  text-shadow: 0 0px 0px #663300;
  color: #663300;
}

#logo-main{
	height: 100px;
}