body {
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', sans-serif;
}

section {
  padding-top: 120px;
}

nav{
  font-family: 'Merriweather', sans-serif;
}

.nav-container{
  background-color: rgba(50, 50, 70, 0.8);
  margin-top: -8px;
}

.navbar-brand{
  margin-left: 10px;
}
.nav-tel{
	font-size: 0.8em;
	width: 190px;
	padding: 2px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav li{
    display: inline-block;
    float: none
  }
}

@media only screen and (max-width: 1000px) {
    .navbar-brand {
        display: none;
    }
}

.jumbotron {
  background: url("../img/diamond1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

#section-description{
  min-height: 100vh; 
}

.about-img{
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
  	background: none;
    min-height: 100vh;
  }
  #section-description{
  	background: none;
  }
}

.about-text{
  font-family: 'Merriweather', sans-serif;
  color: #bf953f;
  text-shadow: 0 2px 1px #663300;
}

.about-text-p{
  font-family: 'Merriweather', sans-serif;
  text-align: justify;
  color: #663300;
  font-size: 1.2em;
}

#section-description a, a:link{
  font-family: 'Merriweather', sans-serif;
  font-style: italic;
  color: #663300;
  text-shadow: 0 2px 1px #bf953f;
  font-size: 0.9em;
}

#section-description a:hover{
  color: #663300;
}